workflows/generar-reporte-m71.json
{
  "name": "Generar Reporte PDF M71",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generar-reporte-m71",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "value": "={{ $json.body.sheet_id }}",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "trades",
          "__rl": true,
          "mode": "name"
        },
        "options": {}
      },
      "id": "leer-trades-node",
      "name": "Leer Trades",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [440, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_GOOGLE",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const trades = $input.all().map(i => i.json);\nconst wh = $('Webhook').first().json;\nreturn [{ json: { trades, sheet_id: wh.body.sheet_id, email: wh.body.email || '' } }];"
      },
      "id": "preparar-datos-node",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "value": "={{ $json.sheet_id }}",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "config",
          "__rl": true,
          "mode": "name"
        },
        "options": {}
      },
      "id": "leer-config-node",
      "name": "Leer Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [920, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL_GOOGLE",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Construir config desde filas campo/valor\nconst configRows = $input.all().map(i => i.json);\nconst config = configRows.reduce((acc, row) => {\n  const k = row.campo || row.Campo || Object.values(row)[0];\n  const v = row.valor || row.Valor || Object.values(row)[1];\n  if (k) acc[k.toLowerCase()] = v;\n  return acc;\n}, {});\n\nconst trades = $('Preparar Datos').first().json.trades;\nconst mes = (config.mes || 'MES').toUpperCase();\nconst anio = String(config.anio || new Date().getFullYear());\nconst total = config.total || '+0.00%';\nconst logoUrl = 'https://raw.githubusercontent.com/Dtolosag/proyecto-m71/main/assets/logo-m71.png';\n\n// Generar filas de la tabla\nconst rowsHtml = trades.map(t => {\n  const fecha = t.fecha || t.Fecha || '';\n  const activo = t.activo || t.Activo || '';\n  const tipo = t.tipo || t.Tipo || '';\n  const resultado = String(t.resultado || t.Resultado || '');\n\n  let cls = '';\n  const num = parseFloat(resultado.replace('%', ''));\n  if (resultado === 'BE') cls = '';\n  else if (!isNaN(num) && num > 0) cls = 'pos';\n  else if (!isNaN(num) && num < 0) cls = 'neg';\n\n  return `<tr><td>${fecha}</td><td>${activo}</td><td>${tipo}</td><td class=\"${cls}\">${resultado}</td></tr>`;\n}).join('');\n\nconst totalNum = parseFloat(total.replace('%', '').replace('+', ''));\nconst totalCls = totalNum > 0 ? 'pos' : totalNum < 0 ? 'neg' : '';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link href=\"https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;800;900&display=swap\" rel=\"stylesheet\">\n<style>\n*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}\nhtml,body{\n  background:#0d0d0d;color:#fff;\n  font-family:'Barlow Condensed',Impact,'Arial Narrow',sans-serif;\n  -webkit-print-color-adjust:exact;print-color-adjust:exact;\n}\n.page{\n  width:794px;min-height:1123px;\n  background:#0d0d0d;\n  padding:55px 50px 45px;\n  display:flex;flex-direction:column;align-items:center;\n}\n.header{text-align:center;margin-bottom:48px}\n.t1{font-size:74px;font-weight:900;color:#fff;text-transform:uppercase;letter-spacing:5px;line-height:1;display:block}\n.t2{font-size:74px;font-weight:900;color:#3dff50;text-transform:uppercase;letter-spacing:5px;line-height:1;display:block}\ntable{width:100%;border-collapse:collapse}\nthead th{\n  background:#191919;color:#777;font-size:13px;font-weight:700;\n  text-transform:uppercase;letter-spacing:2px;\n  padding:15px 10px;text-align:center;border-bottom:1px solid #2e2e2e;\n}\ntbody tr{border-bottom:1px solid #1e1e1e}\ntbody td{padding:14px 10px;text-align:center;font-size:19px;font-weight:700;color:#fff}\n.pos{color:#3dff50}\n.neg{color:#ff4040}\n.total-sec{\n  margin-top:32px;width:100%;\n  padding-top:20px;border-top:1px solid #2a2a2a;\n  text-align:center;\n}\n.t-label{font-size:28px;font-weight:900;text-transform:uppercase;letter-spacing:3px;color:#fff}\n.t-val{font-size:28px;font-weight:900;margin-left:14px}\n.logo-sec{margin-top:48px;text-align:center}\n.logo-sec img{height:58px;max-width:320px}\n</style>\n</head><body>\n<div class=\"page\">\n  <div class=\"header\">\n    <span class=\"t1\">Resultados</span>\n    <span class=\"t2\">${mes} ${anio}</span>\n  </div>\n  <table>\n    <thead><tr><th>Fecha</th><th>Activo Operado</th><th>Tipo de Operaci\\u00f3n</th><th>Resultado (%)</th></tr></thead>\n    <tbody>${rowsHtml}</tbody>\n  </table>\n  <div class=\"total-sec\">\n    <span class=\"t-label\">Total ${mes}:</span>\n    <span class=\"t-val ${totalCls}\">${total}</span>\n  </div>\n  <div class=\"logo-sec\">\n    <img src=\"${logoUrl}\" alt=\"M71 Trading\" onerror=\"this.style.display='none'\"/>\n  </div>\n</div></body></html>`;\n\nconst buf = Buffer.from(html, 'utf-8');\nreturn [{\n  json: { mes, anio },\n  binary: {\n    htmlFile: {\n      data: buf.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html',\n      fileSize: buf.length\n    }\n  }\n}];"
      },
      "id": "construir-html-node",
      "name": "Construir HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "files",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "htmlFile"
            },
            {
              "name": "marginTop",
              "value": "0"
            },
            {
              "name": "marginBottom",
              "value": "0"
            },
            {
              "name": "marginLeft",
              "value": "0"
            },
            {
              "name": "marginRight",
              "value": "0"
            },
            {
              "name": "paperWidth",
              "value": "8.27"
            },
            {
              "name": "paperHeight",
              "value": "11.69"
            },
            {
              "name": "waitDelay",
              "value": "2s"
            },
            {
              "name": "emulatedMediaType",
              "value": "screen"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          }
        }
      },
      "id": "gotenberg-node",
      "name": "Convertir a PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "inputFieldName": "pdfData",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/pdf"
              },
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=reporte-m71-{{ $('Construir HTML').first().json.mes }}-{{ $('Construir HTML').first().json.anio }}.pdf"
              }
            ]
          }
        }
      },
      "id": "respond-node",
      "name": "Responder con PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Leer Trades", "type": "main", "index": 0}]]
    },
    "Leer Trades": {
      "main": [[{"node": "Preparar Datos", "type": "main", "index": 0}]]
    },
    "Preparar Datos": {
      "main": [[{"node": "Leer Config", "type": "main", "index": 0}]]
    },
    "Leer Config": {
      "main": [[{"node": "Construir HTML", "type": "main", "index": 0}]]
    },
    "Construir HTML": {
      "main": [[{"node": "Convertir a PDF", "type": "main", "index": 0}]]
    },
    "Convertir a PDF": {
      "main": [[{"node": "Responder con PDF", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
