workflows/Generar Reporte PDF M71.json
{
  "name": "Generar Reporte PDF M71",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generar-reporte-m71",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "06f98f62-c5db-4bd6-9ec6-36fec62f669c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        928,
        -288
      ],
      "webhookId": "53df1d1a-e491-4199-bfe6-6705d60aafaf"
    },
    {
      "parameters": {
        "documentId": {
          "value": "={{ $json.body.sheet_id }}",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "trades",
          "__rl": true,
          "mode": "name"
        },
        "options": {}
      },
      "id": "9f52dcde-577a-4bef-9699-4569ca7d42f9",
      "name": "Leer Trades",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1184,
        -288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7PyYTnx9fBTny37Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trades = $input.all().map(i => i.json);\nconst wh = $('Webhook').first().json;\nreturn [{ json: { trades, sheet_id: wh.body.sheet_id, email: wh.body.email || '' } }];"
      },
      "id": "5ebb0bf5-3b7f-4918-a780-0b8bbf5c2ee1",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -288
      ]
    },
    {
      "parameters": {
        "documentId": {
          "value": "={{ $json.sheet_id }}",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "config",
          "__rl": true,
          "mode": "name"
        },
        "options": {}
      },
      "id": "428498de-cb7c-4607-87f8-b3b7a8d9ae18",
      "name": "Leer Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1632,
        -288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7PyYTnx9fBTny37Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "49db12ec-a67e-4095-ae95-9eed719d6148",
      "name": "Construir HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        -288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "htmlFile"
            },
            {
              "name": "marginTop",
              "value": "0"
            },
            {
              "name": "marginBottom",
              "value": "0"
            },
            {
              "name": "marginLeft",
              "value": "0"
            },
            {
              "name": "marginRight",
              "value": "0"
            },
            {
              "name": "paperWidth",
              "value": "8.27"
            },
            {
              "name": "paperHeight",
              "value": "11.69"
            },
            {
              "name": "waitDelay",
              "value": "2s"
            },
            {
              "name": "emulatedMediaType",
              "value": "screen"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          }
        }
      },
      "id": "8e24b9fd-8c9a-4b0b-ba54-9147e5688848",
      "name": "Convertir a PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        -288
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/pdf"
              },
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=reporte-m71-{{ $('Construir HTML').first().json.mes }}-{{ $('Construir HTML').first().json.anio }}.pdf"
              }
            ]
          }
        }
      },
      "id": "ad835a4d-84d3-4547-9d45-ee1087f39ef0",
      "name": "Responder con PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2400,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const pdf = $input.first().binary.pdfData;\n\nreturn [\n  {\n    json: {},\n    binary: {\n      data: pdf\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -48
      ],
      "id": "f8dcfc5c-e1f2-4990-bbdf-c722d6ef47d5",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Leer Trades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Trades": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Leer Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Config": {
      "main": [
        [
          {
            "node": "Construir HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir HTML": {
      "main": [
        [
          {
            "node": "Convertir a PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir a PDF": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Responder con PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f6857618-00a6-4109-a92a-646a18e8e216",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7fca7ee90e18f2e8463b1fa96f32e76c2aeee69fcf70fd27eee9308bdc7fbb1"
  },
  "id": "FtwrM47U6vJFwbZo",
  "tags": []
}