workflows/Generar Reporte PDF M71.json
{
  "name": "Generar Reporte PDF M71",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generar-reporte-m71",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "06f98f62-c5db-4bd6-9ec6-36fec62f669c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        928,
        -288
      ],
      "webhookId": "53df1d1a-e491-4199-bfe6-6705d60aafaf"
    },
    {
      "parameters": {
        "documentId": {
          "value": "={{ $json.body.sheet_id }}",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "trades",
          "__rl": true,
          "mode": "name"
        },
        "options": {}
      },
      "id": "9f52dcde-577a-4bef-9699-4569ca7d42f9",
      "name": "Leer Trades",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1184,
        -288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7PyYTnx9fBTny37Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trades = $input.all().map(i => i.json);\nconst wh = $('Webhook').first().json;\nreturn [{ json: { trades, sheet_id: wh.body.sheet_id, email: wh.body.email || '' } }];"
      },
      "id": "5ebb0bf5-3b7f-4918-a780-0b8bbf5c2ee1",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -288
      ]
    },
    {
      "parameters": {
        "documentId": {
          "value": "={{ $json.sheet_id }}",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "config",
          "__rl": true,
          "mode": "name"
        },
        "options": {}
      },
      "id": "428498de-cb7c-4607-87f8-b3b7a8d9ae18",
      "name": "Leer Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1632,
        -288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7PyYTnx9fBTny37Y",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Construir config desde filas campo/valor\nconst configRows = $input.all().map(i => i.json || {});\nconst trades = $('Preparar Datos').first().json.trades || [];\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nfunction parseNumber(value) {\n  if (value === null || value === undefined) return NaN;\n\n  const s = String(value).trim().toUpperCase();\n  if (!s) return NaN;\n  if (s === 'BE') return 0;\n\n  const normalized = s\n    .replace('%', '')\n    .replace(/\\s/g, '')\n    .replace(',', '.')\n    .replace('+', '');\n\n  const n = parseFloat(normalized);\n  return Number.isFinite(n) ? n : NaN;\n}\n\n// Leer config de forma robusta\nconst config = {};\n\nfor (const row of configRows) {\n  const entries = Object.entries(row);\n  const lowerRow = Object.fromEntries(\n    entries.map(([k, v]) => [String(k).toLowerCase(), v])\n  );\n\n  const campo = lowerRow.campo ?? lowerRow.field ?? Object.values(row)[0];\n  const valor = lowerRow.valor ?? lowerRow.value ?? Object.values(row)[1];\n\n  if (campo && valor !== undefined) {\n    config[String(campo).trim().toLowerCase()] = valor;\n  }\n\n  // También soporta config como columnas directas\n  for (const [k, v] of Object.entries(lowerRow)) {\n    if (v !== undefined && v !== null && String(v).trim() !== '') {\n      if (!config[k]) config[k] = v;\n    }\n  }\n}\n\nconst mes = String(config.mes || 'MES').toUpperCase();\nconst anio = String(config.anio || new Date().getFullYear());\n\n// Calcular total si viene vacío o mal cargado\nconst computedTotal = trades.reduce((acc, t) => {\n  const resultado = t.resultado ?? t.Resultado ?? '';\n  const n = parseNumber(resultado);\n  return acc + (Number.isFinite(n) ? n : 0);\n}, 0);\n\nlet totalRaw = config.total;\n\nif (\n  totalRaw === undefined ||\n  totalRaw === null ||\n  String(totalRaw).trim() === '' ||\n  String(totalRaw).trim().toLowerCase() === 'total'\n) {\n  totalRaw = `${computedTotal >= 0 ? '+' : ''}${computedTotal.toFixed(2)}%`;\n}\n\nconst total = String(totalRaw);\n\n// Ajustes dinámicos según cantidad de trades\nconst rowCount = trades.length;\nlet titleSize = 52;\nlet bodySize = 16;\nlet rowPaddingY = 9;\nlet headerMargin = 24;\nlet totalSize = 22;\nlet logoHeight = 34;\n\nif (rowCount > 18) {\n  titleSize = 46;\n  bodySize = 14;\n  rowPaddingY = 7;\n  headerMargin = 18;\n  totalSize = 20;\n  logoHeight = 30;\n}\n\nif (rowCount > 24) {\n  titleSize = 40;\n  bodySize = 12;\n  rowPaddingY = 5;\n  headerMargin = 14;\n  totalSize = 18;\n  logoHeight = 28;\n}\n\n// URL del logo\nconst logoUrl = 'https://raw.githubusercontent.com/Dtolosag/proyecto-m71/main/assets/logo-m71.png';\n\n// Solo renderiza el bloque si hay logo\nconst logoHtml = logoUrl\n  ? `<div class=\"logo-sec\">\n       <img src=\"${logoUrl}\" alt=\"M71 Trading\" onerror=\"this.parentElement.style.display='none'\">\n     </div>`\n  : '';\n\n// Generar filas\nconst rowsHtml = trades.map(t => {\n  const fecha = escapeHtml(t.fecha ?? t.Fecha ?? '');\n  const activo = escapeHtml(t.activo ?? t.Activo ?? '');\n  const tipo = escapeHtml(t.tipo ?? t.Tipo ?? '');\n  const resultadoRaw = String(t.resultado ?? t.Resultado ?? '');\n  const resultado = escapeHtml(resultadoRaw);\n\n  let cls = '';\n  const num = parseNumber(resultadoRaw);\n\n  if (String(resultadoRaw).trim().toUpperCase() === 'BE') cls = '';\n  else if (Number.isFinite(num) && num > 0) cls = 'pos';\n  else if (Number.isFinite(num) && num < 0) cls = 'neg';\n\n  return `<tr>\n    <td>${fecha}</td>\n    <td>${activo}</td>\n    <td>${tipo}</td>\n    <td class=\"${cls}\">${resultado}</td>\n  </tr>`;\n}).join('');\n\nconst totalNum = parseNumber(total);\nconst totalCls = totalNum > 0 ? 'pos' : totalNum < 0 ? 'neg' : '';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Reporte M71</title>\n<style>\n*, *::before, *::after {\n  box-sizing: border-box;\n}\n\n@page {\n  size: A4;\n  margin: 0;\n}\n\nhtml, body {\n  margin: 0;\n  padding: 0;\n  background: #0d0d0d;\n  color: #ffffff;\n  font-family: Impact, \"Arial Narrow\", Arial, sans-serif;\n  -webkit-print-color-adjust: exact;\n  print-color-adjust: exact;\n}\n\nbody {\n  width: 100%;\n}\n\n.page {\n  width: 100%;\n  background: #0d0d0d;\n  padding: 30px 34px 4px;\n}\n\n.header {\n  text-align: center;\n  margin-bottom: ${headerMargin}px;\n}\n\n.t1, .t2 {\n  display: block;\n  font-weight: 900;\n  text-transform: uppercase;\n  letter-spacing: 2px;\n  line-height: 0.95;\n  font-size: ${titleSize}px;\n}\n\n.t1 {\n  color: #ffffff;\n}\n\n.t2 {\n  color: #3dff50;\n}\n\ntable {\n  width: 100%;\n  border-collapse: collapse;\n  table-layout: fixed;\n}\n\ncolgroup col:nth-child(1) { width: 20%; }\ncolgroup col:nth-child(2) { width: 28%; }\ncolgroup col:nth-child(3) { width: 28%; }\ncolgroup col:nth-child(4) { width: 24%; }\n\nthead th {\n  background: #191919;\n  color: #8a8a8a;\n  font-size: 11px;\n  font-weight: 700;\n  text-transform: uppercase;\n  letter-spacing: 1px;\n  padding: 9px 8px;\n  text-align: center;\n  border-bottom: 1px solid #2e2e2e;\n}\n\ntbody tr {\n  border-bottom: 1px solid #1e1e1e;\n  break-inside: avoid;\n  page-break-inside: avoid;\n}\n\ntbody td {\n  padding: ${rowPaddingY}px 8px;\n  text-align: center;\n  font-size: ${bodySize}px;\n  font-weight: 700;\n  color: #ffffff;\n  word-wrap: break-word;\n}\n\n.pos {\n  color: #3dff50;\n}\n\n.neg {\n  color: #ff4040;\n}\n\n.total-sec,\n.logo-sec {\n  break-inside: avoid;\n  page-break-inside: avoid;\n}\n\n.total-sec {\n  margin-top: 8px;\n  width: 100%;\n  padding-top: 10px;\n  border-top: 1px solid #2a2a2a;\n  text-align: center;\n}\n\n.t-label {\n  font-size: ${totalSize}px;\n  font-weight: 900;\n  text-transform: uppercase;\n  letter-spacing: 2px;\n  color: #ffffff;\n}\n\n.t-val {\n  font-size: ${totalSize}px;\n  font-weight: 900;\n  margin-left: 10px;\n}\n\n.logo-sec {\n  margin-top: 2px;\n  text-align: center;\n}\n\n.logo-sec img {\n  height: ${logoHeight}px;\n  max-width: 180px;\n  width: auto;\n  display: inline-block;\n}\n\n.empty-state {\n  padding: 18px 10px;\n  text-align: center;\n  color: #b0b0b0;\n  font-size: 14px;\n  border-bottom: 1px solid #1e1e1e;\n}\n</style>\n</head>\n<body>\n  <div class=\"page\">\n    <div class=\"header\">\n      <span class=\"t1\">Resultados</span>\n      <span class=\"t2\">${escapeHtml(mes)} ${escapeHtml(anio)}</span>\n    </div>\n\n    <table>\n      <colgroup>\n        <col><col><col><col>\n      </colgroup>\n      <thead>\n        <tr>\n          <th>Fecha</th>\n          <th>Activo Operado</th>\n          <th>Tipo de Operación</th>\n          <th>Resultado (%)</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${rowsHtml || `<tr><td colspan=\"4\" class=\"empty-state\">Sin trades para mostrar</td></tr>`}\n      </tbody>\n    </table>\n\n    <div class=\"total-sec\">\n      <span class=\"t-label\">Total ${escapeHtml(mes)}:</span>\n      <span class=\"t-val ${totalCls}\">${escapeHtml(total)}</span>\n    </div>\n\n    ${logoHtml}\n  </div>\n</body>\n</html>`;\n\nconst buf = Buffer.from(html, 'utf-8');\n\nreturn [{\n  json: { mes, anio, total },\n  binary: {\n    htmlFile: {\n      data: buf.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html',\n      fileSize: buf.length\n    }\n  }\n}];"
      },
      "id": "49db12ec-a67e-4095-ae95-9eed719d6148",
      "name": "Construir HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        -288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "htmlFile"
            },
            {
              "name": "marginTop",
              "value": "0"
            },
            {
              "name": "marginBottom",
              "value": "0"
            },
            {
              "name": "marginLeft",
              "value": "0"
            },
            {
              "name": "marginRight",
              "value": "0"
            },
            {
              "name": "paperWidth",
              "value": "8.27"
            },
            {
              "name": "paperHeight",
              "value": "11.69"
            },
            {
              "name": "waitDelay",
              "value": "2s"
            },
            {
              "name": "emulatedMediaType",
              "value": "screen"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          }
        }
      },
      "id": "8e24b9fd-8c9a-4b0b-ba54-9147e5688848",
      "name": "Convertir a PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        -288
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/pdf"
              },
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=reporte-m71-{{ $('Construir HTML').first().json.mes }}-{{ $('Construir HTML').first().json.anio }}.pdf"
              }
            ]
          }
        }
      },
      "id": "ad835a4d-84d3-4547-9d45-ee1087f39ef0",
      "name": "Responder con PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2400,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const pdf = $input.first().binary.pdfData;\n\nreturn [\n  {\n    json: {},\n    binary: {\n      data: pdf\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -48
      ],
      "id": "f8dcfc5c-e1f2-4990-bbdf-c722d6ef47d5",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Leer Trades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Trades": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Leer Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Config": {
      "main": [
        [
          {
            "node": "Construir HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir HTML": {
      "main": [
        [
          {
            "node": "Convertir a PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir a PDF": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Responder con PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c13030db-3fc8-4d37-92f1-58601ad13015",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7fca7ee90e18f2e8463b1fa96f32e76c2aeee69fcf70fd27eee9308bdc7fbb1"
  },
  "id": "FtwrM47U6vJFwbZo",
  "tags": []
}